body {
    text-align: center;
    font-family: serif;
    padding-bottom: 100px;
    background-color: #EAE7DC;
}

h1 {
    padding: 40px 0 32px 0;
    text-shadow: 0.07em 0.02em #8E8D8A;
    /*font-family: 'Poiret One', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Amatic SC', cursive;*/
    font-family: cursive;
}

tr:hover {
    background: #cbae82;
    cursor: pointer;
}

tr:hover .close_icon {
    opacity: 1;
}

th {
    height: 100%;
    width: 10%;
}

table {
    max-width: 100%;
}

.msg {
    visibility: visible;
}

.chosen {
    background: rgb(189, 171, 148);
    color: black;
}

.unchosen {
    background: transparent;
    color: #e98074;
}

.my-bg-primary {
    background-color: #EAE7DC;
}

.my-bg-primary-dark {
    background-color: #8E8D8A;
}

.my-bg-primary-light {
    background-color: #D8c3a5;
}

.my-text-dark {
    color: #8E8D8A;
}

.my-text-red {
    color: #e98074;
}

.my-text-red-dark {
    color: #e85a4f;
}

.my-text-light {
    color: #EAE7DC;
}

.close_icon {
    width: 10%;
    opacity: 0;
}

.card-bottom {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.complete {
    text-decoration: line-through;
}

#clear_complete_btn {
    display: none;
}